  <div class="ion-text-center" *ngIf="!cacherFormulaire">
    <ion-item>
      <ion-label floating>Votre pseudo</ion-label>
      <ion-input type="string"[(ngModel)]="Pseudo"></ion-input> <br />
    </ion-item>
    <ion-item>
      <ion-label>Difficulté</ion-label>
      <ion-select [(ngModel)]="difficulte" placeholder>
        <ion-select-option value="Easy">Easy</ion-select-option>
        <ion-select-option value="Medium">Medium</ion-select-option> 
        <ion-select-option value="Hard">Hard</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <h4>Se souvenir de moi</h4>
      <ion-toggle></ion-toggle>
    </ion-item>
      <p class="error">{{MessageErreur}}</p>
    <ion-item>
      <ion-button color="primary" (click)="StartGame()">Commencer</ion-button>
    </ion-item>
  </div>

  <div class="ion-text-center" *ngIf="cacherFormulaire">
    <ion-text color="primary"> 
      <p class="ion-text-center">Bienvenue {{ Pseudo }}</p>       
    </ion-text>  
    <div>
      <h2 class="ion-text-center">{{Question}}</h2>
    </div>
    <div style="display: inline-block;" *ngFor="let item of ListeReponse">
      <ion-button color="danger">{{item}}</ion-button>
    </div>
    <div class="ion-text-center">
      <ion-button color="primary">QUestion suivante</ion-button>
    </div>
  </div>
